@model asurance.Models.Member

@{
    ViewData["Title"] = "MainMemberUpdateAndDetails";


}

<h1>MainMemberUpdateAndDetails</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDNo)
        </dd>
    </dl>
</div>

<a href=/App/AddAddress/?MemberId=@Model.MemberId class="btn btn-outline-primary">Add Address</a>
<a href=/App/AddDependant/?MemberId=@Model.MemberId  class="btn btn-outline-primary">Add Dependants</a>
<a href=/App/AddContact/?MemberId=@Model.MemberId class="btn btn-outline-primary">Add Contact</a>
<a href="#" class="btn btn-outline-primary">Add Policy</a>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
